@import url("https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#btnScrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 30px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  outline: none;
  z-index: 3;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color:inherit;
}

html {
  font-size: 1.5rem;
  font-family: "San Francisco";
  color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */

#hero {
  background-image: url("./assets//frontpage.jpg");
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: 0;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 3rem;
  font-weight: lighter;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
}

#hero h1:nth-child(3) {
  font-weight: bold;
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}

#hero .cta {
  display: inline-block;
  padding: 5px 40px;
  color: white;
  border: 3px solid crimson;
  font-size: 1.3rem;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  border-radius: 340px;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: crimson;
}

/* End Hero Section */

/* Key Frames */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: bold;
  }
}
/* End Key Frames */

/* Service Section */
#services .section-title span {
  color: crimson;
}

#services .service-item p.primary {
  color: crimson;
  padding-top: 1rem;
  font-weight: 500;
}

#services .service-item p {
  font-weight: 200;
}

#services .service-item li {
  color: white;
  font-weight: 200;
  text-align: left;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 0.4rem;
}

#services .service-item ul {
  padding-left: 1rem;
}

#services .service-item p.secondary {
  font-weight: 700;
}

#services {
  color: black;
}

#services .section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

#services .service-top p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
  padding-bottom: 100px;
  border-radius: 10px;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  width: 50vh;
}

#services .service-item span.secondary {
  font-weight: 600;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4rem;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 200;
  text-transform: uppercase;
}

#services .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.8;
  z-index: -1;
  transition: 0.5s;
}

#services .service-item:focus-visible:after {
  opacity: 0.6;
  background-color: yellow;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
}

#services .service-bottom .icon {
  height: 190px * 10vh;
  width: 190px;
  margin-bottom: 20px;
}

#services .centered {
  background-image: url(./assets/award.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

/* End Service Section */

/* Contact Section */
#contact .contact {
  display: flex;
  min-height: 10vh;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  padding-top: 2rem;
}

#contact .flex-item {
  flex-basis: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#contact a {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  border: 3px solid crimson;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s ease background-color;
  transition-property: background-color, color;
  width: 270px;
  text-align: center;
  margin: 10px;
}

#contact .cta:hover {
  color: white;
  background-color: crimson;
}

#contact p.copyright {
  text-align: center;
  background-color: black;
  padding-top: 100px;
  font-size: 0.6rem;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
}

#contact p.name {
  text-align: center;
  background-color: black;
  padding-top: 10px;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

#contact span {
  color: crimson;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
}

#contact p {
  font-size: 2rem;
}

/* End Contact Section */
